#container {
    display: grid;
    background-color: #e74c3c;
    height: 180vh;
    gap: 10px;
    padding: 10px;
    grid-template-columns: 5fr 4fr;
    grid-template-rows: 60px 1fr 1fr 210px;
    grid-template-areas: 
        'hd hd'
        'mn mn'
        'sec app'
        'ft ft'
}

#guide {
    display: grid;
    background-color: #e74c3c;
    height: 180vh;
    gap: 10px;
    padding: 10px;
    grid-template-columns: 5fr 4fr;
    grid-template-rows: 60px 1fr 210px;
    grid-template-areas: 
        'hd hd'
        'mn mn'
        'ft ft'
}

#traningspass {
    display: grid;
    background-color: #e74c3c;
    height: 180vh;
    gap: 10px;
    padding: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px 1fr 1fr 1fr 210px;
    grid-template-areas: 
        'hd hd'
        'mn mn'
        'sec1 sec2'
        'sec3 sec4'
        'ft ft'
}

#Appen{
    grid-area: app;
    display: grid;
    grid-template-columns: 1fr 1fr; /* two columns */
    gap: 10px;
    border-radius: 10px;
}

#mobile_img{
  grid-column: 1 / span 2; /* Stretch across 2 columns */
}

#sellpoint{
    font-size: large;
}

#logo{
    width: 140px;
}

.btn:hover{
    filter: brightness(90%);
    transform: scale(1.02);
}

.btn {
  transition-duration: 0.3s;
  width: 220px;
}

header{
    grid-area: hd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

nav{
    display: flex;
    gap: 20px; 
    padding: 10px 20px;
}

header nav a {
    font-weight: 600;
    padding: 8px 12px;
    border-radius: 20px;
    background-color: #AEC5EB;
    transition-duration: 0.3s;
    color: black;
}

header nav a:hover{
    filter: brightness(90%);
    transform: scale(1.02);
}


#startpage{
    grid-area: mn;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3)),
    url(/img/gymbg.jpg);
    background-size:cover;
    border-radius: 10px;
    color:purple
}

main{
    grid-area: mn;
    border-radius: 10px;
    background-color: #EECF6D;
    padding: 20px;
}

section{
    grid-area: sec;
    display: flex;
    justify-content: space-between;
    flex-direction: column; 
    padding: 10px;
    background-color: #EECF6D;
    border-radius: 10px;
}

section1{
    grid-area: sec1;
    display: flex;
    justify-content: space-between;
    flex-direction: column; 
    padding: 10px;
    background-color: #EECF6D;
    border-radius: 10px;
}

section2{
    grid-area: sec2;
    display: flex;
    justify-content: space-between;
    flex-direction: column; 
    padding: 10px;
    background-color: #EECF6D;
    border-radius: 10px;
}

section3{
    grid-area: sec3;
    display: flex;
    justify-content: space-between;
    flex-direction: column; 
    padding: 10px;
    background-color: #EECF6D;
    border-radius: 10px;
}

section4{
    grid-area: sec4;
    display: flex;
    justify-content: space-between;
    flex-direction: column; 
    padding: 10px;
    background-color: #EECF6D;
    border-radius: 10px;
}
footer{
    grid-area: ft;
    background-color: #6A5D7B;
    border-radius: 10px;
    padding: 5px;
}

img{
    width: 400px;
    justify-self: center;
}